<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    {% if user.is_authenticated %}
        <form action="{% url 'logout' %}" method="get">
            <button>Logout</button>
        </form>
        <form action="{% url 'reservationlist' user.username %}" method="get">
            <button type="submit" name="reservationlist" value={{user.username}}>Reserves</button>
        </form>
    {% else %}
        <form action="{% url 'login' %}" method="get">
            <button>Login</button>
        </form>

        <form action="{% url 'register' %}" method="get">
            <button>Register</button>
        </form>
    {% endif %}

    <h3>I AM THE COMMON PART</h3>

    Your last viewed Restaurants
    <form action="{% url 'reservation'%}" method="post">
        {% csrf_token %}

        {% for restaurant in viewedrestaurants.restaurant.all|slice:":5:-1"%}
            <a href="{% url 'details' restaurant.restaurant_number%}"> {{restaurant.name}} </a> : {{restaurant.menu_description}}
            <button type="submit" name="reservation" value={{restaurant.restaurant_number}}> Reserva</button>


        {% endfor %}
    </form>
   <form action="{% url 'restaurants'%}" method="get">
       <input type="search" id="searchrest" name="searching">
        <button type="submit"> Buscar</button>
        <br>

    </form>
    {% block content %}
    
    {% endblock %}
</body>
</html>